body {
  margin-bottom: 100px;
  margin-top: 30px;
}
.jumbotron {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToB00ITzxbRTSStAaVduo69-qwATAYUAu10A&usqp=CAU);
}


.about hr {
  width: 250px;
  border-top: 3px solid black;
}
.form-grooup {
     padding-right: 34px;
}

.dummy {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReAxZTmKS0I8lB-Q9k9a4kNgAe1tIeVWghHw&usqp=CAU);
}
.row {
  margin-right: -500px;
  margin-left: -500px;
}
